In [1]:
import pandas as pd
import altair as alt

# Show all rows
pd.set_option('display.max_rows', None)

# Show all columns
pd.set_option('display.max_columns', None)

# Set max column width to display long text without truncation
pd.set_option('display.max_colwidth', None)

# [Online Data Catalog State Hybrid Workforce](https://catalog.data.gov/dataset/statewide-hybrid-workforce)

Statewide telework data. Last updated 11/24/2024

In [2]:
telework_day_tr = pd.read_csv("../data/vw_export_telework_days_trend.csv")
telework_day_det = pd.read_csv("../data/vw_export_telework_days_detail.csv")
hybrid_tr = pd.read_csv("../data/vw_export_state_hybrid_workforce_trend.csv")
in_office_tr = pd.read_csv("../data/vw_export_in_office_days_trend.csv")
in_office_det = pd.read_csv("../data/vw_export_in_office_days_detail.csv")
employee_class = pd.read_csv("../data/vw_export_employees_by_classification.csv")
agency_dept_det = pd.read_csv("../data/vw_export_detail_by_agency_department.csv")
sub_status = pd.read_csv("../data/vw_export_data_submission_status.csv")
cbid = pd.read_csv("../data/cbid-listing.csv")

all_data = [
    telework_day_tr,
    telework_day_det,
    hybrid_tr,
    in_office_tr,
    in_office_det,
    employee_class,
    agency_dept_det,
    sub_status,
    cbid
    ]

In [3]:
for i in all_data:
    display(i.head())

,Report Month,Department,Avg Telework Days/Week
0,2021-10,0500 - Governor's Office,3.33
1,2021-10,0509 - Governor's Office of Business and Economic Development (GO-Biz),4.39
2,2021-10,0511 - Secretary for Government Operations Agency,4.58
3,2021-10,"0515 - Secretary for Business, Consumer Services, and Housing Agency",4.49
4,2021-10,0521 - Secretary for Transportation Agency,3.64

,Report Month,Department,0 Days,1 Day,2 Days,3 Days,4 Days,5 Days,Total
0,2021-10,0500 - Governor's Office,12,3,19,13,17,39,103
1,2021-10,0509 - Governor's Office of Business and Economic Development (GO-Biz),1,5,5,5,17,92,125
2,2021-10,0511 - Secretary for Government Operations Agency,0,0,1,3,1,19,24
3,2021-10,"0515 - Secretary for Business, Consumer Services, and Housing Agency",1,0,1,3,10,32,47
4,2021-10,0521 - Secretary for Transportation Agency,1,0,2,0,19,0,22

,Report Month,All Staff,Not Eligible for Telework,Telework Eligible,Eligible - Not Teleworking,Office Centered,Remote Centered
0,2021-10,166520,96779,69741,8681,8687,52373
1,2021-11,166405,96323,70082,8761,8912,52409
2,2021-12,166193,95952,70241,8829,8857,52555
3,2022-01,175665,94705,80960,9286,9331,62343
4,2022-02,175330,93952,81378,9347,9637,62394

,Report Month,Department,Avg Office Days/Week
0,2021-10,0500 - Governor's Office,1.64
1,2021-10,0509 - Governor's Office of Business and Economic Development (GO-Biz),0.56
2,2021-10,0511 - Secretary for Government Operations Agency,0.42
3,2021-10,"0515 - Secretary for Business, Consumer Services, and Housing Agency",0.51
4,2021-10,0521 - Secretary for Transportation Agency,1.36

,Report Month,Department,0 Days,1 Day,2 Days,3 Days,4 Days,5 Days,Total
0,2021-10,0500 - Governor's Office,39,17,13,19,3,12,103
1,2021-10,0509 - Governor's Office of Business and Economic Development (GO-Biz),92,17,5,5,5,1,125
2,2021-10,0511 - Secretary for Government Operations Agency,19,1,3,1,0,0,24
3,2021-10,"0515 - Secretary for Business, Consumer Services, and Housing Agency",32,10,3,1,0,1,47
4,2021-10,0521 - Secretary for Transportation Agency,0,19,0,2,0,1,22

,Reporting Year,Reporting Month,Org Code,Department Name,Class Code,Class Title,Bargaining Unit,Employee Count,Not Telework Eligible,Remote Centered,Office Centered,Eligible Not Teleworking
0,2021.0,10.0,7300,Agricultural Labor Relations Board,4053.0,"ASSOCIATE GENERAL COUNSEL, UNFAIR LABOR PRACTICES, AGRICULTURAL LABOR RELATIONS BOARD",M02,2.0,0.0,2.0,0.0,0.0
1,2021.0,10.0,7300,Agricultural Labor Relations Board,5393.0,ASSOCIATE GOVERNMENTAL PROGRAM ANALYST,R01,6.0,0.0,6.0,0.0,0.0
2,2021.0,10.0,7300,Agricultural Labor Relations Board,5778.0,ATTORNEY,R02,10.0,0.0,9.0,1.0,0.0
3,2021.0,10.0,7300,Agricultural Labor Relations Board,5778.0,ATTORNEY,R03,1.0,0.0,1.0,0.0,0.0
4,2021.0,10.0,7300,Agricultural Labor Relations Board,5795.0,ATTORNEY III,R02,1.0,0.0,0.0,0.0,1.0

,Report Month,Org Code,Department,All reported employees,Telework eligible employees,Telework eligible / All reported,Remote centered employees,Remote centered / All reported,Remote centered / Telework eligible,Office centered employees,Office centered / All reported,Office centered / Telework eligible,Teleworker (remote + office),Teleworker / All reported,Teleworker / Telework eligible,Not teleworking employees from eligible,Not teleworking / All reported,Not teleworking / Telework eligible,Not teleworking + Not eligible,Not teleworking + Not eligible / All reported,Telework days % from eligible
0,2021-10,7300,Agricultural Labor Relations Board,63,63,100.00%,54,85.70%,85.70%,5,7.90%,7.90%,59,93.70%,93.70%,4,6.30%,6.30%,4,6.30%,64.80%
1,2021-10,2120,Alcoholic Beverage Control Appeals Board,6,6,100.00%,5,83.30%,83.30%,1,16.70%,16.70%,6,100.00%,100.00%,0,0.00%,0.00%,0,0.00%,78.60%
2,2021-10,3835,Baldwin Hills Conservancy,3,3,100.00%,3,100.00%,100.00%,0,0.00%,0.00%,3,100.00%,100.00%,0,0.00%,0.00%,0,0.00%,86.70%
3,2021-10,A541,Board of Forestry and Fire Protection,11,1,9.10%,1,9.10%,100.00%,0,0.00%,0.00%,1,9.10%,100.00%,0,0.00%,0.00%,10,90.90%,80.00%
4,2021-10,6870,Board of Governors of the California Community Colleges,168,168,100.00%,168,100.00%,100.00%,0,0.00%,0.00%,168,100.00%,100.00%,0,0.00%,0.00%,0,0.00%,100.00%

,Report Month,Department,Submission Status
0,2021-10,Agricultural Labor Relations Board,Complete Data Submission
1,2021-10,Alcoholic Beverage Control Appeals Board,Complete Data Submission
2,2021-10,Baldwin Hills Conservancy,Complete Data Submission
3,2021-10,Board of Forestry and Fire Protection,Complete Data Submission
4,2021-10,Board of Governors of the California Community Colleges,Complete Data Submission

,Reporting Year,Reporting Month,Org Code,Department Name,Class Code,Class Title,Bargaining Unit,Employee Count,Not Telework Eligible,Remote Centered,Office Centered,Eligible Not Teleworking
0,2021,10,7300,Agricultural Labor Relations Board,4053,"ASSOCIATE GENERAL COUNSEL, UNFAIR LABOR PRACTICES, AGRICULTURAL LABOR RELATIONS BOARD",M02,2,0,2,0,0
1,2021,10,7300,Agricultural Labor Relations Board,5393,ASSOCIATE GOVERNMENTAL PROGRAM ANALYST,R01,6,0,6,0,0
2,2021,10,7300,Agricultural Labor Relations Board,5778,ATTORNEY,R02,10,0,9,1,0
3,2021,10,7300,Agricultural Labor Relations Board,5778,ATTORNEY,R03,1,0,1,0,0
4,2021,10,7300,Agricultural Labor Relations Board,5795,ATTORNEY III,R02,1,0,0,0,1

## [DGS Telework Data](https://data.ca.gov/dataset/dgs-telework-data)
- last updated October 25, 2021

In [4]:
dgs_agg_week = pd.read_csv("https://data.ca.gov/datastore/dump/eea6715b-0a13-4bfc-8e42-1cd4f8481ac8?bom=True")
dgs_telework_status= pd.read_csv("https://data.ca.gov/datastore/dump/ca341c2a-5ffa-44ac-972b-9dcff31a1a33?bom=True")

# only contains data from DGS only, no other departments are included?

In [5]:
display(dgs_agg_week.info(),
dgs_telework_status.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   _id                               84 non-null     int64
 1   Week                              84 non-null     object
 2   Department                        84 non-null     object
 3   All Staff                         84 non-null     object
 4   Telework Eligible Staff           84 non-null     object
 5   Full-time Teleworkers             84 non-null     object
 6   Part-time Teleworkers             84 non-null     int64
 7   Working Days                      84 non-null     object
 8   Telework Days                     84 non-null     object
 9   Teleworker Average 1 Way Miles    84 non-null     float64
 10  Teleworker Average 1 Way Minutes  84 non-null     float64
dtypes: float64(2), int64(2), object(7)
memory usage: 7.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3514 entries, 0 to 3513
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      3514 non-null   int64
 1   OrgID                    3514 non-null   int64
 2   Department               3514 non-null   object
 3   Employee_Number          3514 non-null   object
 4   Telework Eligible Class  3514 non-null   object
 5   Work Schedule            3514 non-null   object
 6   1 Way Commute Miles      3381 non-null   float64
 7   1 Way Commute Minutes    3381 non-null   float64
 8   Telework Days            3514 non-null   int64
 9   Report Date              3514 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 274.7+ KB

None

None

In [6]:
dgs_telework_status.head()

,_id,OrgID,Department,Employee_Number,Telework Eligible Class,Work Schedule,1 Way Commute Miles,1 Way Commute Minutes,Telework Days,Report Date
0,1,7760,DGS,DGS00680,No,FT_AWWS 4/10/40,20.29,27.28,0,2021-10-18T00:00:00
1,2,7760,DGS,DGS00681,No,FT_AWWS 4/10/40,23.34,27.92,0,2021-10-18T00:00:00
2,3,7760,DGS,DGS00682,No,FT_AWWS 4/10/40,17.61,25.15,0,2021-10-18T00:00:00
3,4,7760,DGS,DGS00692,No,FT_AWWS 4/10/40,5.80,10.70,0,2021-10-18T00:00:00
4,5,7760,DGS,DGS00706,No,FT_AWWS 4/10/40,19.42,31.52,0,2021-10-18T00:00:00

## basic line chart using Altair

In [7]:
def make_line(df:pd.DataFrame, x_col: str, y_col: str, color:str = None, title = None) -> alt.Chart:
    line_chart = alt.Chart(df).mark_line(point=True).encode(
    alt.X(x_col),
    alt.Y(y_col),
    alt.Color(color) if color else alt.value("black"),
    tooltip=[x_col, y_col, color]
    ).properties(title=title)
                  
    return line_chart

## state_hybrid_workforce_trend

In [8]:
melt_hybrid_tr = hybrid_tr.melt(
    id_vars="Report Month",
    var_name="employee_category",
    value_name="employee_count"
)

display(
    melt_hybrid_tr.describe(include="all"),
    melt_hybrid_tr["employee_category"].value_counts()
)

       Report Month employee_category  employee_count
count           162               162      162.000000
unique           27                 6             NaN
top         2021-10         All Staff             NaN
freq              6                27             NaN
mean            NaN               NaN    82200.901235
std             NaN               NaN    64541.982774
min             NaN               NaN     6233.000000
25%             NaN               NaN    15415.500000
50%             NaN               NaN    80298.500000
75%             NaN               NaN   106345.250000
max             NaN               NaN   215090.000000

employee_category
All Staff                     27
Not Eligible for Telework     27
Telework Eligible             27
Eligible - Not Teleworking    27
Office Centered               27
Remote Centered               27
Name: count, dtype: int64

In [9]:
make_line(melt_hybrid_tr, 
          x_col="Report Month", 
          y_col="employee_count", 
          color="employee_category",
          title="Hybrid Workforce Trends"
         )

alt.Chart(...)

## telework_day_tr

In [10]:
display(
    telework_day_tr.info(),
    telework_day_tr.describe(include="all")
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421 entries, 0 to 3420
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Report Month            3421 non-null   object
 1   Department              3421 non-null   object
 2   Avg Telework Days/Week  3421 non-null   float64
dtypes: float64(1), object(2)
memory usage: 80.3+ KB

None

       Report Month                Department  Avg Telework Days/Week
count          3421                      3421             3421.000000
unique           27                       139                     NaN
top         2023-03  0500 - Governor's Office                     NaN
freq            137                        27                     NaN
mean            NaN                       NaN                3.204855
std             NaN                       NaN                1.419629
min             NaN                       NaN                0.000000
25%             NaN                       NaN                2.380000
50%             NaN                       NaN                3.580000
75%             NaN                       NaN                4.380000
max             NaN                       NaN                5.000000

In [11]:
make_line(
    telework_day_tr[telework_day_tr["Department"].str.contains("California")], 
    x_col="Report Month",
    y_col="Avg Telework Days/Week", 
    color="Department")

ValidationError: None is not of type 'string'

Failed validating 'type' in schema[0]:
    {'type': 'string'}

On instance:
    None

## in_office_days_trend

In [ ]:
display(
    in_office_tr.info(),
    in_office_tr.describe(include="all"))

In [ ]:
make_line(
    in_office_tr[in_office_tr["Department"].str.contains("California")], 
    x_col="Report Month", 
    y_col="Avg Office Days/Week", 
    color="Department"
)

## telework_day_tr

In [ ]:
display(
    telework_day_tr.info(),
    telework_day_tr.describe(include="all"))

In [ ]:
make_line(
    telework_day_tr[telework_day_tr["Department"].str.contains("California")], 
    x_col="Report Month", 
    y_col="Avg Telework Days/Week", 
    color="Department"
)

## agency_dept_det

In [ ]:
display(
    agency_dept_det.info(),
    agency_dept_det.describe())

In [ ]:
make_line(
    agency_dept_det[agency_dept_det["Department"].str.contains("California")], 
    x_col="Report Month", 
    y_col="Telework eligible / All reported", 
    color="Department"
)